@using EntityLayer.Concrete
@model List<Category>

<div class="col-lg-3">
    <div class="ibox ">
        <div class="ibox-content mailbox-content">
            <div class="file-manager">
                <a class="btn btn-block btn-primary compose-mail" href="/Admin/AdminMessage/SendMessage/">Yeni Mesaj</a>
                <div class="space-25"></div>
                <h5>Hızlı Erişim</h5>
                <ul class="folder-list m-b-md" style="padding: 0">
                    <li><a href="/Admin/AdminMessage/InBox/"> <i class="fa fa-inbox "></i> Gelen Kutusu <span class="label label-success float-right">@ViewBag.gelen_mesaj_sayi</span> </a></li>
                    <li><a href="/Admin/AdminMessage/SendBox/"> <i class="fa fa-envelope-o"></i> Gönderilenler <span class="label label-warning float-right">@ViewBag.gonderilen_mesaj</span></a></li>
                    <li><a href="#"> <i class="fa fa-file-text-o"></i> Taslaklar </a></li>
                </ul>

               
                <h5 class="tag-title">Blog Kategorileri</h5>
                <ul class="tag-list" style="padding: 0">
                    @foreach (var item in Model)
                    {
                        <li><a href=""><i class="fa fa-tag"></i> @item.CategoryName</a></li>
                    }
                </ul>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>
