
@{
    Layout = null;
}

<title>Mail Doğrulama Başarılı</title>
<style>
    body {
        background: #fcfcfc;
        margin: 20px;
        padding: 5px;
    }
</style>

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<body>
</body>
<div class="text-center m-5">
    <h1 class="display-4" style="color: #0370c8">CoreBlog</h1>
    <p class="m-3" style="font-size:18px">Mail adresiniz başarıyla doğrulandı. <a href="/UserLogin/UserLogin/">Buradan giriş ekranına gidebilirsiniz.</a></p>
</div>
