@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "Kategori Ekle";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="ibox-content">
    <div class="row">
        <div class="col-12 b-r">
            <h3 class="m-t-none m-b">Yeni Kategori Ekle</h3><br />
            <form role="form" method="post">
                <div class="form-group mb-3">
                    <label class="font-bold">Kategori adı</label>
                    <input type="text" asp-for="CategoryName" placeholder="Kategori adı" class="form-control" required>
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label class="font-bold">Kategori açıklama</label><br />
                    <textarea type="text" asp-for="CategoryDescription" placeholder="Kategori açıklama" class="form-control" required rows="7"></textarea>
                    <span asp-validation-for="CategoryDescription" class="text-danger"></span>
                </div>
                <div>
                    <button class="btn btn-outline btn-success btn-rounded px-3" type="submit"><i class="fa fa-paste"></i>&nbsp;&nbsp; Ekle </button>
                </div>
            </form>
        </div>
    </div>
</div>

