
<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
    <span class="mr-2">Hoşgeldin @ViewBag.namesurname</span>
    <span class="mx-md-2  mx-1">
        <a href="/UserLogin/UserLogin/">
            <i class="fas fa-lock"></i> Giriş Yap
        </a>
    </span>
    <span class="mx-2">
        <a href="/UserRegister/UserRegistration/">
            <i class="far fa-user"></i> Kayıt Ol
        </a>
    </span>
    <span class="ml-md-2 mx-1">
        <a href="/UserLogin/LogOutUser/">
            <i class="fas fa-power-off"></i> Çıkış Yap
        </a>
    </span>
</div>
